<div class="container">
  <div class="spacer"></div>
  <div class="row" style="padding: 10px;">
    <div class="input-group pull-left pad-left-right col-xs-7">
      <input type="text" class="form-control" placeholder="start typing to filter" >
      <div class="glyphicon glyphicon-search input-group-addon"></div>
    </div>
    <div class="spacer"></div>
    <div class="pull-left pad-right-left">
      <a class="btn btn-success">Add New Resort</a>
    </div>
  </div>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="http://drsprnoe9nnhf.cloudfront.net/southernsun-04222022/cms/cache/v2/56029fcf82ed5.jpg/700x700/fit/80/3e028ccba6ed3711dfb949fd83d2c58f.jpg" class="card-img-top" alt="SOUTHERN SUN KATHERINE STREET SANDTON">
      <div class="card-body">
        <h5 class="card-title">SOUTHERN SUN KATHERINE STREET SANDTON</h5>
        <p class="card-text">
          A kilometer from the Sandton CBD, with easy access to
           Johannesburg’s M1 highway, and adjacent to Athol Square,
           Southern Sun Katherine Street is a hotel sought after by
           business executives seeking a home-base from which to
           conduct their business affairs. The hotel offers 48
           one-bedroom suites with a kitchenette and separate
           dining area.</p>
           <p>+27 11 884 8544
            <a href="https://www.southernsun.com/booking/property/18">sskatherinestreet.reservations@southernsun.com</a></p>
            <p><i style='font-size:30px'>&#9758; </i><a href="https://www.southernsun.com/southern-sun-katherine-street-sandton">VISIT SITE</a></p>
      </div>
      <div class="card-footer text-white bg-dark" style="text-align: center;">
        BOOK NOW
      </div>
    </div>
  </div>

</div>
</div>
