<!-- <p>hotel-booking works!</p> -->
<div class="modal-header">
    <h1 class="modal-title fs-5">Book Your Chosen Hotel Here</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <!--Start form area  -->
    <div class="container py-5">
        <div class="row d-flex justify-content-center align-items-center" >
          <div class="col">
            <form id="">
            <div class="card my-4 shadow-3">
              <div class="row g-0">
                <div class="col-xl-6 d-xl-block bg-image">
                  <img src="{{ hotel?.imageUrl }}" alt="{{ hotel?.hotelTitle }}"
                    class="img-fluid" />
                  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
                    <div class=" justify-content-center align-items-center h-100">
                    </div>
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="card-body p-md-5 text-black">
                    <h5 class="mb-4 text-uppercase">Guest Details</h5>

                    <div class="row">
                      <div class="col-md-6 mb-4">
                        <div class="form-outline">
                          <input type="text" id="firstname" class="form-control form-control-lg" />
                          <label class="form-label" for="firstname">First name</label>
                        </div>
                      </div>
                      <div class="col-md-6 mb-4">
                        <div class="form-outline">
                          <input type="text" id="lastname" class="form-control form-control-lg" />
                          <label class="form-label" for="lastname">Last name</label>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-4">
                          <div class="form-outline">
                            <input type="number" id="cellphone" class="form-control form-control-lg" />
                            <label class="form-label" for="cellphone">cellphone</label>
                          </div>
                        </div>
                        <div class="col-md-6 mb-4">
                          <div class="form-outline">
                            <input type="email" id="email" class="form-control form-control-lg" />
                            <label class="form-label" for="email">Email Address</label>
                          </div>
                        </div>
                      </div>

                    <div class="form-outline mb-4">
                      <input type="text" id="address" class="form-control form-control-lg" />
                      <label class="form-label" for="address">Address</label>
                    </div>
                    <!-- <div class="form-outline mb-4">
                      <input type="text" id="zip" class="form-control form-control-lg" />
                      <label class="form-label" for="zip">Zip</label>
                    </div> -->
                    <div class="form-outline mb-4">
                        <input type="text" id="propertyId" class="form-control form-control-lg" value="{{ hotel?.hotelTitle }}" readonly/>
                        <label class="form-label" for="propertyId">Property</label>
                      </div>
                        <div class="form-outline mb-4">
                          <select class="select form-control-sm">
                            <option>Select Room</option>
                            <option value="1">Standard Room 1 Queen Bed Non-Smoking</option>
                            <option value="2">Standard Room 1 Queen Bed Smoking</option>
                            <option value="3">Standard Room 2 Double Beds Non-Smoking</option>
                            <option value="4">Standard Room 2 Double Beds Smoking</option>
                            <option value="5">Standard Wheelchair-Accessible Room 1 Queen Bed Non-Smoking</option>
                            <option value="6">Executive Room 1 King Bed Non-Smoking</option>
                            <option value="7">Executive Room 1 King Bed Smoking</option>
                            <option value="8">Suite 1 King Bed Non-Smoking</option>
                          </select>
                          </div>
                          <div>
                          <div class="form-outline mb-4">
                            <input type="number" id="numNights" class="form-control form-control-lg" />
                            <label class="form-label" for="numNights">Night to book</label>
                          </div>
                      </div>
                    <div class="form-outline mb-6">
                      <textarea type="text" id="preferences" class="form-control form-control-lg" rows="3"></textarea>
                      <label class="form-label" for="preferences">Additional Details & Preferences</label>
                    </div>
                    <div class="d-flex justify-content-end pt-3">
                    </div>
                  </div>
                </div>

              </div>
            </div>
            </form>
          </div>
        </div>
      </div>


  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="onClose()">Close</button>
    <button type="submit" class="btn btn-success">Book Your Room</button>
  </div>
